#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/3598aa6b-56bd-4721-a462-2343e5a8dc8e/ # 
version: 1.0
# baseUri: https://dev-sfdc-system.us-e1.cloudhub.io/v1/
title: CRM-salesforce-api
description: "This system API exposes the operations needed to integrate with Salesforce CRM"
mediaType:
  - application/json

securitySchemes:
  basic: !include exchange_modules/73bb0e9e-5954-4740-a639-53ef51abc403/client-basic-auth/1.0.0/client-basic-authentication.raml
traits: 
  accept-required: !include exchange_modules/73bb0e9e-5954-4740-a639-53ef51abc403/common-traits/1.0.3/accept-required.raml
  content-type-required: !include exchange_modules/73bb0e9e-5954-4740-a639-53ef51abc403/common-traits/1.0.3/content-type-required.raml
  standard-error-responses: !include exchange_modules/73bb0e9e-5954-4740-a639-53ef51abc403/common-traits/1.0.3/error-responses.raml

/ping:
  get:
    is: [standard-error-responses]
    securedBy: [basic]
    description: Return a standard response.
    responses:
      200:
        body:
          application/json:
            example: !include examples/get_response.json
/contactinfo/{AccountId}:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include examples/contact_object_response.json
              
/case:
  post:
    is: [standard-error-responses]
    securedBy: [basic]
    body:
      description: "Cases that needs to be created in salesforce CRM"
      example: !include examples/case_post_request.json
    responses:
      "200":
        description: To create a case in SFDC database 
        body:
          application/json:
            example:
               {
                "Message": "New Case record created",
                "id":"5002E00001NaePTQAZ"
              }
  put:
    is: [standard-error-responses]
    securedBy: [basic]
    body:
      description: "To update case record in salesforce CRM"
      example: !include examples/case_put_request.json
    responses:
      "200":
        description: To update the case record
        body:
          application/json:
            example:
                {
                "Message": "Case record updated",
                "id":"5002E00001NaePTQAZ"
              }
  delete:
    is: [standard-error-responses]
    securedBy: [ basic ]

    body:
      description: "To delete exitisting case record in salesforce CRM"
      example: !include examples/case_delete_request.json
    responses:
      200:
        description: To delete the case record
        body:
          application/json:
            example:
               {
                "Message": "Case Recrod Deleted",
                "id":"5002E00001NaePTQAZ"
              }
/query:
  post:
    is: [standard-error-responses]
    securedBy: [basic]
    body:
      description: "Any Query Execution against Saleforce CRM"
      example: !include examples/query_request.json
    responses:
      "200":
        description: Extract Query Response
        body:
          application/json:
            example: !include examples/query_response.json
/sobjects:             
  /{SObjectName}:
    uriParameters:
      SObjectName:
        type: string
        description: Describes the individual metadata for the specified object. Can also be used to create a new record for a given object. For                             example, this can be used to retrieve the metadata for the Account                      object using the GET method, or create a new Account object using                       the POST method.
        example: "Account"
    get: 
        responses: 
          200: 
            description: ""
            body: 
              application/json: 
                example: !include examples/object_get_response.json
        
    post:
      is: [standard-error-responses]
      securedBy: [basic]
      queryParameters: 
        externalid:
          type: string
          required: false
          description: Updates existing record using Bulk or Upserts records based on the value of a specified external ID field.
      body:
          description: Creates new record for the given object
          example: !include examples/object-post-request-body.json
      responses:
        "200":
          description: ""
          body:
            application/json:
              example: !include examples/object_post_response.json 
    put:
      is: [standard-error-responses]
      securedBy: [basic]
      queryParameters: 
        externalid:
          type: string
          required: false
          description: Updates existing record using Bulk or Upserts records based on the value of a specified external ID field.
          example: !include examples/object-put-request-body.json    
        mode:
          type: string
          required: false
          description: To route the messages either to Bulk mode or Upsert mode
      responses:
        "200":
          description: To update case record
          body:
            application/json:
              example: !include examples/object_put_response.json
           
          
